h2 {
  color: lightblue;
}

.top-book {
  padding: 2rem 5rem;
}

.top-book > .data-current {
  background-color: lightblue;
  opacity: 10%;
  max-width: 100%;
  text-align: center;
  border-radius: 30px;
  height: 100px;
}
