/** Navigation Bar **/
nav {
  position: fixed;
  top: 0;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: rgb(8, 45, 69);
  padding: 0 1rem;
  box-sizing: border-box;
}

nav > .branding {
  color: white;
  font-size: 1.4rem;
}

nav > .search-bar {
  margin-left: auto;
  padding-right: 10px;
}

nav > .search-bar > input {
  margin-left: auto;
  border-radius: 6px;
  border: none;
  padding: 8px 10px;
}

nav > .search-bar > submit-btn {
  margin-left: auto;
  border-radius: 6px;
  border: none;
  padding: 8px 10px;
}

nav > .menu-buttons {
  margin-left: end;
}

nav > .menu-buttons > button {
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  color: rgb(8, 45, 69);
}

nav > .menu-buttons > button:not(:last-child) {
  margin-right: 6px;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  color: rgba(256, 256, 256, 50%);
}
